<!DOCTYPE html>
<html>

<head>
    <title>TrackVac</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Raleway&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body style="background-color:#ffffff;">
    <nav class="navbar  fixed-top navbar-expand-lg navbar-dark " style="background-color: 
    #000b2e;">
        <div class="container-fluid">
            <a class="navbar-brand m-0 p-0" href="/">
                <p class=" fs-2 fw-bold m-0 p-0" style="color: #ffffff;">
                    <img src="/Images/logo2.png" alt="logo" width="80" height="70"
                        class="d-inline-block align-text-center">
                    Track Vac
                </p>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav item" <%=currentUser=='mod' ? '' : 'hidden' %> >
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'modHome' ? 'active' : '' %>" aria-current="page" href="/modHome" id="modHome">Admin Home</a>
                    </li>
                    <li class="nav item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>" aria-current="page" href="/" id="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'centers' ? 'active' : '' %>" href="/centers" id="allCenters">Center Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  <%= typeof page !== 'undefined' && page === 'addReview' ? 'active' : '' %>" href="/centers" id="write">Write Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof page !== 'undefined' && page === 'about' ? 'active' : '' %>" href="/about" id="aboutVac">About Vaccination</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="flex-wrapper">