<%- include ("partials/header") %>
    <!-- test -->

    <div class="container-fluid about">
        <h1 class="<%= lang=='En' ? 'text-center title' : 'text-center title arabicLang' %>"><%= lang=='En' ? 'About vaccination' : 'عن التطعيم' %></h1>
        <hr>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-10 col-lg-4 box">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'What are the benefits of getting vaccinated?' : 'ما هي فوائد التطعيم' %></h2>
                <p>
                    <%= lang=='En' ? 'The COVID-19 vaccines produce protection against the disease, as a result of developing an immune  response to the SARS-Cov-2 virus. Developing immunity through vaccination means there is a reduced risk of developing the illness and its consequences. This immunity helps you fight the virus if exposed. Getting vaccinated may also protect people around you, because if you are protected from getting infected and from disease, you are less likely to infect someone else. This is particularly important to protect people at increased risk for severe illness from COVID-19, such as healthcare providers, older or elderly adults, and people with other medical conditions.' : 'تنتج لقاحات COVID-19 حماية ضد المرض ، نتيجة لتنمية المناعة الاستجابة لفيروس SARS-Cov-2. تطوير المناعة من خلال التطعيم يعني أن هناك انخفاضًا خطر الإصابة بالمرض وعواقبه. هذه المناعة تساعدك على محاربة الفيروس إذا مكشوف. قد يؤدي التطعيم أيضًا إلى حماية الأشخاص من حولك ، لأنه إذا كنت محميًا من الإصابة بالعدوى ومن المرض ، من غير المرجح أن تصيب شخصًا آخر. هذا بشكل خاص مهم لحماية الأشخاص المعرضين لخطر متزايد للإصابة بأمراض خطيرة من COVID-19 ، مثل الرعاية الصحية مقدمي الخدمات ، وكبار السن أو كبار السن ، والأشخاص الذين يعانون من حالات طبية أخرى.' %></p>
            </div>

            <div class="col-10 col-lg-4 box">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'Who should get the COVID-19 vaccines?' : 'من عليه أخذ لقاح كورونا المستجد' %></h2>
                <p>
                    <%= lang=='En' ? 'The COVID-19 vaccines are safe for most people 18 years and older, including those with pre-existing conditions of any kind, including auto-immune disorders. These conditions include: hypertension, diabetes, asthma, pulmonary, liver and kidney disease, as well as chronic infections that are stable and controlled. If supplies are limited in your area, discuss your situation with your care provider if you: Have a compromised immune system Are pregnant or nursing your baby Have a history of severe allergies, particularly to a vaccine (or any of the ingredients in the vaccine) Are severely frail.' : 'لقاحات COVID-19 آمنة لمعظم الأشخاص الذين تبلغ أعمارهم 18 عامًا أو أكثر ، بما في ذلك أولئك الذين لديهم وجود سابق الحالات من أي نوع ، بما في ذلك اضطرابات المناعة الذاتية. تشمل هذه الحالات: مرض السكري والربو وأمراض الرئة والكبد والكلى وكذلك الالتهابات المزمنة المستقرة والرقابة. إذا كانت الإمدادات محدودة في منطقتك ، فناقش حالتك مع مقدم الرعاية الخاص بك إذا كنت: لديك جهاز مناعي ضعيف كنت حاملا أو ترضعين طفلك لديك تاريخ من الحساسية الشديدة ، خاصة تجاه اللقاح (أو أي من المكونات الموجودة في مصل) ضعفاء بشدة.' %>
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-evenly">
            <div class="col-10 col-lg-4 box">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'What should I do and expect after getting vaccinated?' : 'ماذا تتوقع بعد أخذ اللقاح' %></h2>
                <p><%= lang=='En' ? `Stay at the place where you get vaccinated for at least 15 minutes afterwards, just in case you have an unusual reaction, so health workers can help you. Check when you should come in for a second dose – if needed. Most of the vaccines available are two-dose vaccines. Check with your care provider whether you need to get a second dose and when you should get it. Second doses help boost the immune response and strengthen immunity. In most cases, minor side effects are normal. Common side effects after vaccination, which indicate that a person's body is building protection to COVID-19 infection include: Arm soreness, Mild fever, Tiredness, Headaches, Muscle or joint aches.` : 'ابق في المكان الذي تحصل فيه على التطعيم لمدة 15 دقيقة على الأقل بعد ذلك ، فقط في حالة تعرضك لرد فعل غير عادي ، حتى يتمكن العاملون في مجال الصحة من مساعدتك. تحقق من موعد تناول جرعة ثانية - إذا لزم الأمر. معظم اللقاحات المتاحة هي لقاحات من جرعتين. تحقق مع مقدم الرعاية الخاص بك ما إذا كنت بحاجة إلى الحصول على جرعة ثانية ومتى يجب أن تحصل عليها. تساعد الجرعات الثانية على تعزيز الاستجابة المناعية وتقوية المناعة. في معظم الحالات ، تكون الآثار الجانبية البسيطة طبيعية. تشمل الآثار الجانبية الشائعة بعد التطعيم ، والتي تشير إلى أن جسم الشخص يبني الحماية من عدوى COVID-19: وجع الذراع ، والحمى الخفيفة ، والتعب ، والصداع ، وآلام العضلات أو المفاصل.' %>
                </p>
            </div>
            <div class="col-10 col-lg-4 box">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'The vaccine has proven to be 86% effective' : ' %لقد أثبت اللقاح أنه فعّال بنسبة 86'  %></h2>
                <p>
                    <%= lang=='En' ? `The Ministry of Health and Population has participated in clinical research under the slogan 'For
                    Humanity' to try to find a safe and effective vaccine. The experiment was conducted in partnership
                    with the Chinese company Sinopharma and the UAE G42 group to test two vaccines (of the inactivated
                    type) on 45 thousand participants in 4 countries.The study concluded that the vaccine’s effectiveness was 86%,
                    that its success in generating antibodies reached 99% and its ability to prevent moderate or violent infections 
                    reached 100%. Additionally, no unexpected side effects occurred in the study participants, 
                    and all side effects that occurred were expected in a slight to moderate ratio.` : `شاركت وزارة الصحة والسكان في أبحاث إكلينيكية تحت شعار "من أجل الإنسانية" لمحاولة إيجاد لقاح آمن وفعال. أجريت التجربة بالشراكة مع شركة Sinopharma الصينية ومجموعة الإمارات G42 لاختبار لقاحين (من النوع المعطل) على 45 ألف مشارك في 4 دول ، وخلصت الدراسة إلى أن فعالية اللقاح بلغت 86٪ ، وأن نجاحها في التوليد بلغت نسبة الأجسام المضادة 99٪ وقدرتها على منع العدوى المتوسطة أو الشديدة 100٪. بالإضافة إلى ذلك ، لم تحدث أي آثار جانبية غير متوقعة في المشاركين في الدراسة ، وكان من المتوقع حدوث جميع الآثار الجانبية التي حدثت بنسبة طفيفة إلى معتدلة.` %></p>
            </div>
        </div>

    </div>
    <%- include ("partials/footer") %>