<%- include ("partials/header") %>
    <div class="container-fluid centers">
        <form id='filter' action='/<%= page == 'centers' ? 'centers' : 'chooseCenter ' %>' method='POST'>
            <div class="container">
                <h1 class="text-center title" style="margin-bottom: 1.5rem;"> <%= page == 'addReview' ? 'Choose Center' : currentUser == 'mod' ? 'Add or Remove Center' : 'Available Centers' %></h1>
             <div class="row align-items-center justify-content-start" >
               <div class="col-md-12 col-lg-5">
                <select id="govSelect" name="govSelect" onchange=getValue();
                    class="form-select form-select my-3 govSelect" aria-label=".form-select-lg example" required>
                    <option value="" disabled selected>
                        <%=gov%>
                    </option>
                    <% for(let i=0; i<cityNames.length; i++) { %>
                        <option value="<%=cityNames[i] %>">
                            <%= cityNames[i] %>
                        </option>
                        <% } %>
                </select>
               </div>  
               <div class="col-md-12 col-lg-5">
                <select id="districtSelect" name="districtSelect" class="form-select form-select mb-3 mb-lg-0"
                    aria-label=".form-select-sm example" required >
                    <option value="" disabled selected>
                        <%=district%>
                    </option>
                </select>
               </div> 
               <div class="col-3 col-lg-1">
                <button class="btn btn-primary btn-sm" name="action" value="filter"><i style="padding-right: 5px;"class="fas fa-filter"></i>Filter</button>
               </div>
               <div class="col-2 col-lg-1">
                <a <%= filter == 'true' ?'':'hidden' %> class="btn btn-secondary btn-sm " href='/centers' value="removeFilter">Remove</a>
            </form>
               </div>
             </div> 
            </div>

    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 align-items-center justify-content-evenly justify-content-sm-start">
            <% for(let center of centers){ %>
                <div class="col">
                    <div class="card">
                        <div class="imgBx">
                            <img src="<%= center.image %>" alt="...">
                        </div>
                        <div class="card-body cardBx">
                            <h5 class="card-title subtitle">
                                <%=center.name%>
                            </h5>
                            <p class="card-text">
                                <%=center.governorate%> - <%=center.district %>
                            </p>
                            <div>
                                <form action="/centers/<%=center._id%>?_method=DELETE" method="POST"  >
                                    <a href="/centers/<%=center._id%>/<%= page=='addReview'? 'addReview' : '' %>" class="btn btn-primary goBtn"><%= page=='addReview' ? 'Choose Center' : 'View Center' %></a>
                                    <button <%=currentUser=='mod' ? '' : 'hidden' %> type='submit' class="btn btn-danger">Remove<i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <div class="col">
                    <div>
                          <a href="/addCenter" <%=currentUser=='mod' ? '' : 'hidden' %> class='btn btn-primary addCenter'>+ Add Center</a>
                    </div>
                </div>
        </div>
    </div>

    <%- include ("partials/footer") %>