<%- include ("partials/header") %>
    <div class="container-fluid centers">
        <form id='filter' action='/<%= page == 'centers' ? 'centers' : 'chooseCenter ' %>' method='POST'>
            <div class="container">
                <h1 class="<%= lang=='En' ? 'text-center title' : 'text-center title arabicLang' %>"
                    style="margin-bottom: 1.5rem;">
                    <% if(page=='addReview' ){ %>
                        <%= lang=='En' ? 'Choose Center' : 'اختر المركز' %>

                            <% } else{ %>
                                <% if(currentUser=='mod' ) {%>
                                    Manage Centers
                                    <% } else{ %>
                                        <%= lang=='En' ? 'Available Centers' : 'المراكز المتاحة' %>
                                            <%} } %>
                </h1>
                <div class="row align-items-center justify-content-start <%= lang=='Ar' ? 'arabicLang' : '' %>">
                    <div class="col-md-12 col-lg-5">
                        <select id="govSelect" name="govSelect" onchange=getValue();
                            class="form-select form-select my-3 govSelect" aria-label=".form-select-lg example"
                            required>
                            <option value="" disabled selected>
                                <% if (lang=="En") { %>
                                    <%=govEN%>
                                        <% }else { %>
                                            <% if(govEN=="Select a governorate"){ %> 
                                                <%=govAR%>
                                                <% }else{ %> 
                                            <%= helper.getArabicNameGov(govEN)%>
                                                <% }} %>

                            </option>
                            <% for(let i=0; i<cityNames.length; i++) { %>
                                <option value="<%=cityNames[i] %>">
                                    <%= lang=='En' ? cityNames[i] : helper.getArabicNameGov(cityNames[i]) %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <select id="districtSelect" name="districtSelect" class="form-select form-select mb-3 mb-lg-0"
                            aria-label=".form-select-sm example" required>
                            <option value="" disabled selected>
                                <% if (lang=="En") { %>
                                    <%=districtEN%>
                                        <% }else { %>
                                            <% if(govEN=="Select a governorate"){ %> 
                                                <%=districtAR%>
                                                <% }else{ %> 
                                            <%= helper.getArabicNameDis(districtEN,govEN)%>
                                                <% }} %>
                            </option>
                        </select>
                    </div>
                    <div class="col-3 col-lg-1">
                        <button class="btn btn-primary btn-sm" name="action" value="filter"><i
                                style="padding-right: 5px;" class="fas fa-filter"></i>
                            <%= lang=='En' ? 'Filter' : 'بحث' %>
                        </button>
                    </div>
                    <div class="col-2 col-lg-1">
                        <a <%=filter=='true' ?'':'hidden' %> class="btn btn-secondary btn-sm " href='/centers'
                            value="removeFilter"><%= lang=='En' ? 'Remove' : 'إزالة البحث' %></a>
        </form>
    </div>
    </div>
    </div>

    </div>


    <div class="container <%= lang=='Ar' ? 'arabicLang' : '' %>">
        <div>
            <a href="/addCenter" <%=currentUser=='mod' ? '' : 'hidden' %> class='btn btn-primary addCenter'><i
                    class="fas fa-plus"></i> Add Center</a>
        </div>
        <div
            class="row row-cols-1 row-cols-md-2 row-cols-xl-3 align-items-center justify-content-evenly justify-content-sm-start">
            <% for(let center of centers){ %>
                <div class="col">
                    <div class="card">
                        <div class="imgBx">
                            <img src="<%= center.image %>" alt="...">
                        </div>
                        <div class="card-body cardBx <%= lang=='Ar' ? 'arabicLang' : '' %>">
                            <h5 class="card-title subtitle">
                                <%=center.name%>
                            </h5>
                            <p class="card-text">
                                <%= lang=='En' ? center.governorate : helper.getArabicNameGov(center.governorate) %> -
                                    <%= lang=='En' ?center.district : helper.getArabicNameDis(center.district,
                                        center.governorate) %>
                            </p>
                            <div>
                                <form action="/centers/<%=center._id%>?_method=DELETE" method="POST">
                                   
                                        <%if(page=='addReview'){ %>
                                            <a href="/centers/<%=center._id%>/addReview"
                                                class="<%= lang=='En' ? 'btn btn-primary goBtn' : 'btn btn-primary goBtn arabicLang' %>"> 
                                            <%= lang=='En' ? 'Choose Center' : 'اختر المركز' %>
                                        </a>
                                                <% }else{ %>
                                                    <a href="/centers/<%=center._id%>"
                                                        class="<%= lang=='En' ? 'btn btn-primary goBtn' : 'btn btn-primary goBtn arabicLang' %>"> 
                                                    <%= lang=='En' ? 'View Center' : 'اذهب للمركز' %>
                                                </a>
                                                        <% } %>
                                    
                                    <button <%=currentUser=='mod' ? '' : 'hidden' %> type='submit' class="btn btn-danger
                                        goBtn2"><i class="fas fa-trash"></i> Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>

        </div>

    </div>

    <%- include ("partials/footer") %>