<%- include ("partials/header") %>

    <div class="container" style="width: 100%;">
        <div class="row justify-content-between align-items-end centerInfo">
            <div class="col-md-4">
                <h1 style="font-weight: 300;"><b>
                        <%=center.name %>
                    </b></h1>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center subtitle">
                        Total reviews
                        <span class="badge bg-primary rounded-pill">
                            <%=center.reviews.length %>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center subtitle">
                        Average rating
                        <span class="badge bg-primary rounded-pill">
                            <%=avgRating %>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center subtitle">
                        Easy to find
                        <span>
                            <span> Yes </span>
                            <span class="badge bg-success rounded-pill">
                                <%=easyToFind %>
                            </span>
                            <span> No </span>
                            <span class="badge bg-danger rounded-pill">
                                <%=notEasyToFind %>
                            </span>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center subtitle">
                        Crowded
                        <span>
                            <span> Yes </span>
                            <span class="badge bg-success rounded-pill">
                                <%=Crowded %>
                            </span>
                            <span> No </span>
                            <span class="badge bg-danger rounded-pill">
                                <%=notCrowded %>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="<%=center.image %> " class="rounded" style="height: 80%; width: 100%;" alt="">
            </div>
            <div id='map' class="col-md-3" style='width: 350px; height: 250px;'>
            </div>
        </div>

        <div class="row justify-content-between align-items-center">
            <div class="col-5"><a href="/centers/<%=center._id %>/addReview" class="btn btn-primary"><i
                        class="fas fa-plus"></i><span style="padding-left: 4px">Add Review</span> </a>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="list-group my-3">
            <% for(let review of center.reviews){ %>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">

                        <h5 class="mb-1 title">
                            <%=review.title %>
                        </h5>

                        <small class="text-muted">
                            <%= review.upvotes %> Upvotes | Posted <%= review.date.getDate() %>/<%=
                                        review.date.getMonth() %>/<%= review.date.getFullYear() %>
                        </small>

                    </div>
                    <p class="mb-1 subtitle">
                        <%=review.comment %>
                    </p>
                    <div class="d-flex w-100 justify-content-between">
                        <small class="text-muted">anonymous</small>
                        <span>
                            <form action="/centers/<%= center._id %>/report/<%= review._id %>?_method=PUT"
                                method="POST">
                                <button type="submit" class="btn btn-danger"><i class="far fa-flag"></i></button>
                            </form>
                            <form action="/centers/<%= center._id %>/upvote/<%= review._id %>?_method=PUT"
                                method="POST">
                                <button type="submit" class="btn btn-success"><i class="far fa-thumbs-up"></i></button>
                            </form>
                        </span>
                    </div>
                </div>
                <% } %>

        </div>
    </div>
    <script>
        const center = <% - JSON.stringify(center) %>
    </script>

    <%- include ("partials/footer") %>