<%- include ("partials/header") %>

    <div class="container" style="width: 100%;">
        <div class="row justify-content-between align-items-center centerInfo">
            <div class="col-md-4">
                <img src="<%=center.image %> " class="rounded" style="height: 15rem; width: 100%;" alt="">
            </div>
            <div id='map' class="col-md-3" style='width: 350px; height: 250px;'></div>

            <div class="col-md-4">
                <h1 style="font-weight: 300;"><b>
                        <%=center.name %>
                    </b></h1>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center subtitle">
                        Total reviews
                        <span class="badge bg-primary rounded-pill">
                            <%=center.reviews.length %>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center subtitle">
                        Average rating
                        <span class="badge bg-primary rounded-pill">
                            <%=avgRating %>
                        </span>
                    </li>
                </ul>
            </div>


        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-5"><a href="/centers/<%=center._id %>/addReview" class="btn btn-primary">Add
                    review +</a>
            </div>
        </div>


    </div>
    <div class="container">
        <div class="list-group my-3">
            <% for(let review of center.reviews){ %>
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">

                        <h5 class="mb-1 title">
                            <%=review.title %>
                        </h5>
                        <small class="text-muted">20 total up votes | 1 day ago</small>
                    </div>
                    <p class="mb-1 subtitle">
                        <%=review.comment %>
                    </p>
                    <div class="d-flex w-100 justify-content-between">
                        <small class="text-muted">anonymous</small>
                        <span>
                            <form action="/centers/<%= center._id %>/report/<%= review._id %>?_method=PUT" method="POST">
                                <button type="submit" class="btn btn-danger">Report !</button>
                            </form>
                            <form action="/centers/<%= center._id %>/upvote/<%= review._id %>?_method=PUT" method="POST">
                                <button type="submit" class="btn btn-success">Up vote !</button>
                            </form>
                        </span>
                    </div>
                </div>
                <% } %>

        </div>
    </div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoia2Fpcm94MDAiLCJhIjoiY2t0bjFrdGFvMmJoczJ2cW5jMGkwOGZmYyJ9.ki7GbD0dVW1_IONalKVlbQ';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [-74.5, 40], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });
        new mapboxgl.Marker().setLngLat([-74.5, 40]).addTo(map);

    </script>

    <%- include ("partials/footer") %>