<%- include ("partials/header") %>

    <div class="container-fluid centers">

        <form id='filter' action='/centers' method='POST'>
            <div class="container">
                <h1 class="text-center title" style="margin-bottom: 1.5rem;">Available Centers</h1>
                <select id="govSelect" name="govSelect" onchange=getValue();
                    class="form-select form-select my-3 govSelect" aria-label=".form-select-lg example">
                    <option value="" disabled selected>Select Governerate</option>
                    <% for(let i=0; i<cityNames.length; i++) { %>
                        <option value="<%=cityNames[i] %>">
                            <%= cityNames[i] %>
                        </option>
                        <% } %>
                </select>
                <select id="districtSelect" name="districtSelect" class="form-select form-select mb-3"
                    aria-label=".form-select-sm example ">
                    <option value="" disabled selected>Select District</option>
                </select>
                <button class="btn btn-primary btn-sm">filter</button>
            </div>

    </div>
    <div class="container">
        <div class="row align-items-center justify-content-evenly">
            <% for(let center of centers){ %>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="imgBx">
                            <img src="<%= center.image %>" alt="...">
                        </div>
                        <div class="card-body cardBx">
                            <h5 class="card-title subtitle">
                                <%=center.name%>
                            </h5>
                            <p class="card-text">
                                <%=center.governorate%>
                            </p>
                            <a href="/centers/<%=center._id%>" class="btn btn-primary">Go to the center page</a>
                        </div>
                    </div>
                </div>
                <%}%>


        </div>
    </div>

    <%- include ("partials/footer") %>