<%- include ("partials/header") %>
    <div class="container">


        <h1 class="text-center subtitle homeTitle">Track-Vac</h1>
        <p class="<%= lang=='En' ? 'text-center fs-3 subtitle' : 'text-center fs-3 subtitle arabicLang' %>"> <%= lang=='En' ? 'Your guide for a better vaccination experience' : "دليلك لتجربة تلقّى لقاح أفضل" %> </p>
        <hr>
        <div class="row align-items-center justify-content-around">
            <div class="col-10 col-lg-4 box p-2" style="background-color: #f5edfc;">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"> <%= lang=='En' ? 'Are you vaccinated?' :"هل تلقّيت لقاح كورونا ؟" %> </h2>
                <p class="<%= lang =='Ar' ? 'arabicLang' : '' %> ">
                    <%= lang=='En' ? 'Help others by telling us more about your experience.' : "ساعد الأخرين من خلال مشاركة تجربتك حول تلقي اللقاح" %><br>
                    <a href="/chooseCenter"><%= lang=='En' ? 'Give a feedback about your vaccination experience' : "قيّم تجربتك لتلقي اللقاح" %> >></a>
                </p>
            </div>
            <div class="col-10 col-lg-5">
                <img src="\Images\vac3.jpg" alt="vaccine image" class="img-thumbnail float-end">
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-10 col-lg-5 order-2 order-lg-1">
                <img src="\Images\vac6.jpg" alt="" class="img-thumbnail float-end">
            </div>
            <div class="col-10 col-lg-5 box order-1 order-lg-2" style="background-color: #f5edfc;">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'Thinking about getting vaccinated?' : "هل تريد أن تتلقّى لقاح كورونا ؟" %></h2>
                <p class="<%= lang =='Ar' ? 'arabicLang' : '' %> "> <%= lang=='En' ? 'Read multiple feedbacks about any vaccination center and get to know which vaccines are available in each center? how long will you wait till you get vaccinated? and many other answers for any question in your mind.' : "اقرأ تعليقات متعددة حول أي مركز تطعيم وتعرف على اللقاحات المتوفرة في كل مركز و كم من الوقت ستنتظر حتى يتم تطعيمك والعديد من الإجابات الأخرى لأي سؤال يدور في ذهنك" %> <br>

                    <a href="centers"><%= lang=='En' ? 'Read reviews about vaccination centers' : "اقرأ آراء حول مراكز التطعيم" %> >></a>

                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">

            <div class="col-10 col-lg-11 box" style="background-color: #f5edfc;">
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'About Us' : "معلومات عنا" %></h2>
                <p class="mb-4 <%= lang=='Ar' ? 'arabicLang' : '' %> "> <%= lang=='En' ? "We are a group of engineering students at The German University  in Cairo taking part in a web developement internship by IEEE HAC. Our aim is to utilize the technology in order to provide solutions for some problems facing the world in the age of Covid-19. We built Track-Vac in order to provide a better vaccination experience through collecting feedbacks from vaccinated users about different vaccination centers all over egypt, so those who didn't get vaccinated yet can benefit from them." 
                    : "نحن مجموعة من طلاب الهندسة في الجامعة الألمانية بالقاهرة نشارك في تدريب تطوير الويب من قبل IEEE HAC. هدفنا هو الاستفادة من التكنولوجيا لتقديم حلول لبعض المشاكل التي تواجه العالم في عصر فيروس كورونا. لقد قمنا ببناء Track-Vac من أجل توفير تجربة تطعيم أفضل من خلال جمع التعليقات من المستخدمين الذين تم تطعيمهم حول مراكز التطعيم المختلفة في جميع أنحاء مصر ، بحيث يمكن لأولئك الذين لم يتم تطعيمهم بعد الاستفادة منها." %></p>
                <h2 class="<%= lang=='En' ? 'subtitle' : 'subtitle arabicLang' %>"><%= lang=='En' ? 'Founders' : "المؤسسون" %></h2>
                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>"> <b><%= lang=='En' ? 'Dr. Eman Azab' : "د. إيمان عزب" %> </b>
                    -<%= lang=='En' ? ' Assistant Professor at the German University in Cairo, Faculty of Information Engineering & Technology, IEEE Senior Member, WIE Egypt Board Member.' :" أستاذ مساعد في الجامعة الألمانية بالقاهرة ، كلية هندسة وتكنولوجيا المعلومات ، عضو أول في IEEE ، عضو مجلس إدارة WIE Egypt." %> <br>
                </p>
                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>"><b><%= lang=='En' ? 'Dr. Maggie Mashaly' : "د. ماجي مشالي" %> </b>
                    -<%= lang=='En' ? ' Assistant Professor at the German University in Cairo, Faculty of Information Engineering & Technology, IEEE Senior Member, WIE Egypt Board Member.' :" أستاذ مساعد في الجامعة الألمانية بالقاهرة ، كلية هندسة وتكنولوجيا المعلومات ، عضو أول في IEEE ، عضو مجلس إدارة WIE Egypt." %> <br>
                </p>
                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>"><b><%= lang=='En' ? 'Assoc. Prof. Rania Sweif' : "د. رانيا سويف" %> </b>
                    -<%= lang=='En' ? ' Associate Professor at the Ain Shams University, Faculty of Engineering, IEEE Senior Member, WIE Egypt Board Member' : " أستاذ مشارك بجامعة عين شمس ، كلية الهندسة ، عضو أول في IEEE ، عضو مجلس إدارة WIE Egypt." %> <br>
                </p>
                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>">
                    <b><%= lang=='En' ? 'Tasneem Hazem' : "تسنيم حازم"%> </b>
                    - <%= lang=='En' ? 'Project Manager.' : "مدير المشروع" %><br>
                </p>
                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>">
                    <b><%= lang=='En' ? 'Project Coordinators' : "منسقي المشروع" %></b><br>
                    <%= lang=='En' ? 'Alia Mahmoud' : "عليا محمود"%>
                    - <%= lang=='En' ? 'Jomana Wael' : "جمانة وائل"%>

                </p>

                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>">
                    <b><%= lang=='En' ? 'Team Members' : "أعضاء الفريق" %></b><br>
                    <%= lang=='En' ? 'Yusuf El Kilany' : "يوسف الكيلاني"%>
                    - <%= lang=='En' ? 'Aya Ahmed Fayed' : "آية أحمد فايد"%>
                    - <%= lang=='En' ? 'Khaled Romeh' : "خالد رميح"%>
                    - <%= lang=='En' ? 'Salma Teama' : "سلمى طعيمة"%>
                    - <%= lang=='En' ? 'Salma Khalid Shreef' : "سلمى خالد شريف"%>
                    - <%= lang=='En' ? 'Nawraz Said' : "نورز سعيد"%>
                    - <%= lang=='En' ? 'Lina Emad' : "لينا عماد"%>
                    - <%= lang=='En' ? 'Ahmad Samir Abdulmoniem' : "أحمد سمير"%>
                    - <%= lang=='En' ? 'Omar Aref' : "عمر عارف"%>
                    - <%= lang=='En' ? 'Amera Salah Fathy' : "أميرة صلاح فتحى"%>
                    - <%= lang=='En' ? 'Mark Wafik' : "مارك وفيق"%>
                    - <%= lang=='En' ? 'Ahmed Tamer' : "أحمد تامر"%>
                    - <%= lang=='En' ? 'Haidy Tohfa' : "هايدي تحفة"%>
                    - <%= lang=='En' ? 'Youssef Magdy Hany ElBon' : "يوسف مجدي"%>
                    - <%= lang=='En' ? 'Lobna Nader' : "لبني النحاس"%>
                    - <%= lang=='En' ? 'Mark Malak' : "مارك ملاك"%>
                    - <%= lang=='En' ? 'Reem Abdelrazek' : "ريم أحمد"%>
                    - <%= lang=='En' ? 'Ahmed Belal' : "احمد بلال"%>
                    - <%= lang=='En' ? 'Mireille Shaker' : "ميريل شاكر"%>
                    - <%= lang=='En' ? 'Khalid Abdel Kahar' : "خالد عبد القهار"%>
                </p>
                <p class="mb-2 <%= lang=='Ar' ? 'arabicLang' : '' %>">
                    <b class="subtitle <%= lang=='Ar' ? 'arabicLang' : '' %>"><%= lang=='En' ? 'Sponsored by' :  "      برعاية" %></b> <br>
                    <img src="\Images\ieee-hac-logo.png" alt="logo" width="110" height="65">
                    <div > <p>#21-COV1-086</p></div>
                   

                </p>

            </div>
        </div>
        
    </div>
    <%- include ("partials/footer") %>