<%- include ("partials/header") %>
    <div class="container">


        <h1 class="text-center" style="font-size: 600% ;">Admin Dashboard</h1>
        <hr>

        <div class="row align-items-center justify-content-around ">

            <div class="col-8 ">
                <div class="row box" style="background-color: #f5edfc; border-radius: 5px;">
                    <a href="reports">
                        <h2>You have <span>
                                <%= reviews.length %>
                            </span>Reported Reviews </h2>
                    </a>
                    <div style="background-color: white; border-radius: 5px;">
                        <ul>
                            <%for(let review of reviews){ %>
                                <li>
                                    <h3>
                                        <%= review.title %>
                                    </h3>
                                    <h4>
                                        <%= review.comment %>
                                    </h4>
                                    <form action="/centers/<%= review.vaccination_center %>/delete/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <button type="submit" class='btn btn-warning'>Remove Post</button>
                                    </form>
                                </li>
                                <hr>
                                <% }%>
                        </ul>
                    </div>
                    
                    
                </div>
                <button class="col-8 btn btn-info" >
                    <a href="/modHome/logout">
                        <span style="color: white">Logout </span>
                    </a>
                </button>
            </div>
        </div>

    </div>





    <%- include ("partials/footer2") %>