
<%- include ("partials/headerMod") %>
<div class="container">
    
    
      <h1 class="text-center" style="font-size: 600% ;">Admin Dashboard</h1>
<hr>

<div class="row align-items-center justify-content-around ">
    
    <div class="col-8 ">
        <div class="row box" style="background-color: #f5edfc;">
            <a href="reports" ><h2>You Have <span><%= reviews.length %></span> New Reported Reviews </h2></a>
            <%for(let review of reviews){ %>
                <div>
                    <h3><%= review.title %></h3>
                    <h4><%= review.comment %></h4>
                    <form action="/centers/<%= review.vaccination_center %>/delete/<%= review._id %>?_method=DELETE" method="POST">
                        <button type="submit">Remove Post</button>
                    </form>
                </div>
           <% }%>
        </div>
           <div class="row box"  style="background-color: #f5edfc;">
            <a href="addCenter"> <h2>Add New Center </h2></a>
        </div>
        <div class="row box"  style="background-color: #f5edfc;">
            <a href="removeCenter"> <h2>Remove Center </h2></a>
        </div>
        <div class="row box"  style="background-color: #f5edfc;">
                <a href="/"> <h2>Track-Vac User </h2></a>
            </div>
     </div>
</div>

</div>





<%- include ("partials/footer2") %>

