<%- include ("partials/header") %>
  <div class="container <%= lang=='Ar' ? 'arabicLang' : '' %>">
  <form class="container-fluid needs-validation" action="/register" method="POST" novalidate >
     
    <div class="row align-items-top justify-content-around box31">
      <div class="col-13 col-lg-4">

        <h1 style="font-size:350% ; font-weight: 450;" class="h1v2 text-center <%= lang=='En' ? ' subtitle' : ' subtitle arabicLang' %>"><%= lang=='En' ? 'Sign Up' : "إنشاء حساب" %></h2>
          <p  class="pv2  <%= lang=='En' ? 'text-center subtitle' : 'text-center subtitle arabicLang' %>"> <%= lang=='En' ? 'Already a member?' : "هل لديك حساب؟" %>
           
            <a class="av2 " href="/login"><%= lang=='En' ? ' Log In' : "تسجيل الدخول " %> </a> </p>
        
            <div class="mb-4 <%= lang=='Ar' ? 'arabicLang' : '' %>">

              <input name="email" id="email" required class="form-control" type="email" 
                placeholder='<%= lang == 'En' ? "Enter your email" :"أدخل بريدك الألكتروني" %>' aria-label=" Write your Email" >
                <div class="valid-feedback">Looks Good</div>
              <div class="invalid-feedback" id='email'>
                Please Enter a Valid Email!
              </div>
            </div>
            <div class="mb-4 <%= lang=='Ar' ? 'arabicLang' : '' %>">

              <input name="password" id="password" required class="form-control" type="password" minlength="6" maxlength="20"
                placeholder='<%= lang == 'En' ? "Password" :"كلمة السر" %>' aria-label="Password" >
                <div class="valid-feedback">Looks Good</div>
              <div class="invalid-feedback" id='password'>
                Please Enter a Valid Password (min:6 characters ~ max:50 characters)!
              </div>
            </div>
          
        </div>





            <div class="d-grid gap-3 mx-auto justify-content-center">
              <button style="height: fit-content;"  class="btn-lg <%= lang=='En' ? 'btn  btn-r ' : 'btn   btn-r arabicLang' %>"><%= lang=='En' ? 'Sign Up' : "إنشاء حساب" %></button>
              <!-- <a href="/facebook"  class="btn loginBtn loginBtn--facebook">Sign Up with Facebook</a> -->
              <a href="/google" class=" btn loginBtn loginBtn--google"> Sign Up with Google</a>
            </div>
        
      </div>
    </div>
  </form>

</div>



<%- include ("partials/footer") %>